<section class="py-5">
    <h1 class="display-3">Thanks You</h1>
    <p class="lead">Your ebook should be emailed to you within one bussiness day</p>
    <a href="/" class="btn btn-lg btn-dark">Go back Home</a>
</section>